<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="10737418240" />
            </requestFiltering>
        </security>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        
    </appSettings>
</configuration>
